<div ng-controller="bookCtrl">
	<div class="container">
	 	<div class="jumbotron">
			<h2>GCIT Library Management System</h2>
			<p>Add Books</p>
		</div>
	</div>
	
	<body>
		<div class="users">
			<div class="container">
				<a href="#/admin/book" style="font-size:20px;">Back</a><br/><br/>
				
				<h3 class="title">Book</h3>
				<div ng-controller="bookCtrl">
					<form role="form" class="form-horizontal">
						<div class="form-group">
					      <label class="control-label col-sm-2" for="book">Title:</label>
					      <div class="col-sm-10">
					      	<input type="text" class="form-control" name="bookTitle" placeholder="Enter Book Title" ng-model="b.title">
					      </div>
					    </div>
					    <div class="form-group">
					      <label class="control-label col-sm-2" for="publishers">Publisher:</label>
					      <div class="col-sm-10">
					      <select id="pubId" name="pubId" ng-options="pub.publisherName for pub in publishers track by pub.publisherId" ng-model="selectedPub"></select>
						  </div>
					    </div>
					    <div class="form-group">
					      <label class="control-label col-sm-2" for="authors">Author:</label>
					      <div class="col-sm-10">
					      <select id="authorId" name="authorId" ng-options="a.authorName for a in authors track by a.authorId" ng-model="selectedAuthor" multiple></select>
						  </div>
					    </div>
					    <div class="form-group">
					      <label class="control-label col-sm-2" for="genres">Genre:</label>
					      <div class="col-sm-10">
					      <select id="genreId" name="genreId" ng-options="g.genre_name for g in genres track by g.genre_id" ng-model="selectedGenre" multiple></select>
						</div>
					    </div>
						<div class="form-group">
					      <div class="col-sm-offset-2 col-sm-10">
					        <button type="submit" class="btn btn-primary" ng-click="addBook()">Add Book</button>
					      </div>
					    </div>
					</form><br/>
				</div>
			</div>
		</div>
	</body>
</div>